@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,700&display=swap');
/* GLOBAL */
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* UTILIDADES */
@import "./utility/components.css";
@import "./utility/text.css";
@import "./utility/colors.css";

/* HOME */
@import "./home/intro.css";
@import "./home/tecno.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* SEGUROS */

@import "./seguros/seguros.css";

/* MOTOS-LIST */
@import "./motos/motos-list.css";

/* TERMOS */
@import "./termos/termos.css";
