.intro-bg{
    background-color: var(--color-10);
    color:var(--color-0);
    box-shadow: inset 0 -120px var(--color-0);
}
.intro{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2.5rem;
    position: relative;
}
.intro::after{
    content: '';
    width: 100px;
    height: 100px;
    background: url(../../imgs/detalhes/bottom-left.svg) no-repeat;
    position: absolute;
    bottom: 90px;
    left: 0;
}
.intro-content{
    align-self: end;
    padding-bottom: 200px;
}
.intro img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.intro h1{
    font-family: 'Poppins';
    
}
.intro h1 span{
    color: var(--color-1)
}
.intro p{
    margin-bottom: 1.25rem;
    color: var(--text-1)
}

@media (max-width: 1200px) {
    .intro h1{
        font-size: 3rem;
    }
    .intro p{
        font-size: 1.125rem;
    }
}
@media (max-width: 800px) {
    .intro-bg{
        background: var(--color-10);
        padding-top: 2.5rem;
        box-shadow: inset 0 -60px 0 var(--color-0);
    }
    .intro img{
        width: 100%;
        height: 300px;
    }
    .intro{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .intro::after{
    background: none;
    }
    .intro h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .intro-content{
        padding: 0;
    }
}