:root{
    --color-0:#ffffff;
    --color-1:#DA107D;
    --color-2:#BF2C8C;
    --color-3:#A4479B;
    --color-4:#8963AA;
    --color-5:#6E7EB8;
    --color-6:#539AC7;
    --color-7:#38B5D6;
    --color-8:#1DD1E5;
    --color-9:#01ECF3;
    --color-10:#111111;
    --color-11:#070707;

    --hover-0:#2e2e2e;
    --text-0:#ffffff;
    --text-1:#b2b2b2;
    --text-2:#878787;
}
