.container{
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.btn{
    font-family: 'Poppins';
    font-weight: 600;
    padding: 1rem 2rem;
    display: inline-block;
    background: linear-gradient(var(--color-1), var(--color-2));
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, .1);
    text-transform: uppercase;
    color: var(--color-10);
    font-size: 1.125rem;
    line-height: 1.33;
    width: max-content;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(#c00d6d, #9e2373);
}
.btn.secundario{
    background: #282828;
    color: var(--color-0);
}
.btn.secundario:hover{
    background: var(--hover-0)
}
.btn.seta{
    display: flex;
    align-items: center;
}
.btn.seta::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../imgs/icons/seta.svg);
    transition: transform .3s;
}
.btn.seta:hover::after{
    transform: translateX(4px);
}
@media (max-width:  600px) {
    .btn{
        padding: 0.75rem 1rem;
    }
    
}
.link{
    display: inline-block;
    color: var(--color-1);
    font: 500 1.5rem/1.5 "Poppins";
    width: max-content;
    text-transform: uppercase;
}
.link::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}
.link:hover{
    color: var(--color-0);
}

.titulo-bg{
    padding: 60px 0;
    background-color: var(--color-10);
}
.titulo p{
    margin-bottom: 4px;
}
@media (max-width: 800px) {
    .titulo-bg{
        padding: 40px 0;
    }
    .titulo p{
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}