.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form label{
    display: block;
    font: 600 1rem/1.5 'poppins';
    margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea{
    font: 400 1rem/1.5 "roboto";
    background: var(--text-5);
    border: 1px solid var(--text-1);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
    outline: none;
    border-color: var(--color-1);
    background: var(--color-0);
    box-shadow: 0 0 0 2px rgb(252, 200, 239);
}
.form .col-2{
    grid-column: span 2;
}
.col-2 > textarea{
    resize: none;
}
@media (max-width:600px) {
    .form{
        grid-template-columns: 1fr;
    }
    .form .col-2{
        grid-column: 1;
    }
}