.vantagens-bg{
    background-color: var(--color-11);
}
.vantagens > h2{
    margin-bottom: 60px;
    color: var(--color-0);
    font-size: 3.3rem;
}
.vantagens h2 span{
    color: var(--color-1);
    font-size: 3.3rem;
}
.vantagens-ul p{
    color: var(--text-1);
    font-weight: 500;
    line-height: 1.5;
}
.vantagens-ul h3{
    color: var(--text-0);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto';
}
.vantagens{
    padding-top: 120px;
    padding-bottom: 120px;
}
.vantagens ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, max-content));
    gap: 40px 80px;
}
.vantagens h3,
.vantagens img{
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .vantagens{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .vantagens h3{
        margin-bottom: 40px;
    }
    .vantagens ul{
        gap: 20px;
    }
}
@media (max-width: 300px) {
    .vantagens h2{
        font-size: 3rem;
    }
    .vantagens-ul h3{
        margin-bottom: 10px;
    }
    .vantagens-ul{
        text-align: center;
    }
    .vantagens-ul img{
        margin: 0 auto;
    }
    .vantagens-ul li{

        max-width: 240px;
    }
}